@import "../../styles/variables";
@import "../../styles/media-queries";

.listing-rating {
    display: flex;
    @include breakpoint-tablet {
        gap: 1rem;
    }
    &__star {
        @include breakpoint-tablet {
            transform: scale(2);
            margin-top: -2rem;
        }
    }
}