@import "../../styles/variables";
@import "../../styles/media-queries";


.listing-thumb {
    min-height: 16rem;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(0, 0, 0, 0.50) 100%);
        z-index: 1;
        }
    &__title {
        font-size: 1rem;
        font-family: $font-family;
        font-weight: 500;
        line-height: 142%;
        color: $light-color;
        padding: 1rem;
        z-index: 2;
    }
    &__cover {
        position: absolute;
        object-fit: cover;
        max-width: 100%;
        min-height: 100%;
        top: 0;
        left: 0;
        z-index: 0;
    }
}