@import "../../styles/variables";

.footer {
    background-color: $dark-color;
    height: 13rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__logo {
        height: 40px;
    }
    &__text {
        color: $light-color;
        font-family: $font-family;
        font-size: 0.75rem;
    }
}